/* MIN 720px WIDTH */

@media only screen and (min-width: 720px) {
    .photos {
        width: 90%;
        margin: auto;
    }
}

/* MAIN BIT */

::selection {
    color: azure;
    background-color: firebrick;
}

body {
    width: 100%;
    margin: 12px auto;
}

ul {
    padding: 0;
}

ul li {
    background-color: antiquewhite;
    padding: 15px 0 15px 0;
    border-radius: 8px;
    list-style-type: none;
    width: 320px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 40px;
}

ul li a {
    margin: auto;
    width: auto;
    vertical-align: middle;
}

a {
    color: black;
    font-size: 28px;
    font-family: "Vollkorn", serif;
    text-decoration: none;
}

#places {
    margin: auto;
}

#main {
    text-align: center;
    margin: 0;
    color: firebrick;
    font-size: 72px;
    font-family: "Open Sans", sans-serif;
}

/* PHOTO PAGES */

.photos {
    margin-top: 1.5rem;
}

.photos .photo {
    margin: auto auto 2rem auto;
    text-align: justify;
    width: 100%;
}

.photos .photo img {
    max-width: 100%;
    display: block;
    margin: 0 auto 5px auto;
}

.photos .photo .descr {
    margin: 0 0 0 1rem;
    font-size: 16px;
    display: inline-block;
    float: left;
    font-style: italic;
}

.photos .photo .date {
    margin: 0 1rem 0 0;
    display: inline-block;
    float: right;
}

.photos .photo hr {
    width: 90%;
}